requests==2.32.3
pydantic==2.9.2
fastapi==0.115.0
uvicorn==0.30.6
numpy==2.1.2
pandas==2.2.3
python-multipart==0.0.9
passlib[bcrypt]==1.7.4
PyJWT==2.9.0
email-validator==2.2.0
sqlmodel==0.0.22
SQLAlchemy==2.0.35
django==4.2.16
typing_extensions==4.12.2